/*CONTAINER*/
body{
    height: 800px;
}
.container{
    font-family: 'Montserrat', sans-serif;
    border: 5px solid #000000;
    background-color: rgb(221, 221, 221);
}
.container h1{
    font-size: 50px;
    padding-top: 50px;
    background-color: rgb(244, 227, 175);
    height: 140px;
    text-align: center;
}

/*ROWS*/
.row .col-sm-3{
    height: 900px;
    background-color: rgb(127, 196, 142);
}
.row .col-sm-3 h4{
    color: rgb(244, 227, 175);
}
.row .col-sm-3 h5{
    font-size: 15px;
    color: rgb(255, 255, 255);
}

/*Active color for button*/
.active-color{
    background-color: chartreuse;
    color: black;
}

/*RESULT*/
.Result{
    border: 3px solid #000000;
    height: 20px;
}