/*CONTAINER*/
body{
    height: 800px;
}
.container{
    font-family: 'Montserrat', sans-serif;
    border: 5px solid #000000;
    background-color: #000000;
}
.container h1{
    font-size: 50px;
    padding-top: 50px;
    background-color: crimson;
    height: 150px;
    text-align: center;
    color: white;
    font-family: 'Indie Flower', cursive;*/
}

/*ROWS*/
.row .col-sm-3{
    /*height: 900px;*/
    background-color: rgb(3, 164, 94);
    text-align: center;
}
.row .col-sm-3 h3{
    font-family: 'Cabin', sans-serif;
    color: rgba(0,0,0,0.8);
}
.row .col-sm-3 h4{
    font-size: 20px;
    color: rgb(244, 227, 175);
    font-family: 'Cabin', sans-serif;
}
.row .col-sm-3 h5{
    font-size: 18px;
    font-family: 'Cabin', sans-serif;
}
.row .col-sm-9 h5{
    font-size: 15px;
    color: rgb(255, 255, 255);
    font-family: 'Cabin', sans-serif;
}

/*Active color for button*/
.active-color{
    background-color: chartreuse;
    color: black;
}

/*RESULT*/
#Result{
    border: 3px solid red;
    border-radius: 5px;
}